.benefits {
  padding-top: 94px;

  @media screen and (max-width:479px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage {
  display: flex;
  
  @media screen and (max-width: 479px) {
    display: block;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    // display: block;
    flex-wrap: wrap;
  }


.advantage__item {
  margin-left: 30px;
  width: 270px;

&:first-child {
  margin-left: 0px;
}
@media screen and (max-width: 479px) {
 &:not(:first-child) {
   margin-top: 30px;
 }
  // width: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  margin: 0;
      display: inline-block;
      flex-direction: column;
      width: calc((100% - 2 * 15px) / 2);

      &:nth-child(n+3) {
        margin-top: 30px;
      } 

      &:nth-child(2n+1) {
        margin-right: 30px;
      }

      &:nth-child(2n) {
      margin-left: -5px;
      }   
    }
}
}

.advantage__icon {
@include centered;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;

  @media screen and (max-width: 479px) {
    // width: 450px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
  }
}

.advantage__heading {
@include standart-text ($text,$font-size,700);
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  margin-top: 30px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}


.advantage__text {
@include standart-text($text,$font-size,$font-weight);
  line-height: 1.7;
  letter-spacing: 0.03em;
}


