.footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;

    @media screen and (min-width: 768px) {
    padding: 60px 0;
  }

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media screen and  (max-width: 479px) {
    display: block;
    flex-direction: column;
    text-align: center;    
  }

  @media screen and (min-width: 768px) {
    // display: block;
    // text-align: center;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: baseline;
  }
}

.footer-logo {
  padding: 60px 0;

    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}

.footer-logo__studio {
  color: $color-text;
  font-family: $font-logo;
  font-size: $font-size-logo;
  font-style: $font-style;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @media screen and  (max-width: 479px) {
    font-size: 24px;
  }

    @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
}

.list-address {
  margin-top: 20px;

    @media screen and (min-width: 768px) {
    text-align: center;
  }

.list-address__item {
  padding-bottom: 9px;

&:last-child {
  padding-bottom: 0px;
}
}

.list-address__map {
  @include standart-text ($color-text,$font-size,$font-weight);
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
&:hover {
  color: $color-link;
}
}

.list-address__communication {
  opacity: 60%;
  text-decoration: none;
  @include standart-text ($color-text,$font-size,$font-weight);
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
&:hover {
  color: $color-link;
}
}
}

.social {
  padding: 72px 0 100px;

  @media screen and  (max-width: 479px) {
    padding: 0;
  }

    @media screen and (min-width: 768px) {
    padding: 0;;
  }

.social__text {
  @include standart-text ($color-text,$font-size,700);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;

  @media screen and  (max-width: 479px) {
    text-align: center;
  }

    @media screen and (min-width: 768px) {
    text-align: center;
  }
}
}

.social-list {
  display: flex;
  margin-top: 20px;

  @media screen and  (max-width: 479px) {
    justify-content: center;
  }

    @media screen and (min-width: 768px) {
    justify-content: center;
  }

.social-list__item {
  margin-left: 10px;

&:first-child {
  margin-left: 0;
}
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border: none;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
&:hover {
  background-color: #2196f3;
  color: #ffffff;
}
}

.social-list__logo {
  fill: currentColor;
}
}

.spam {
  display: flex;
  align-items: flex-end;
  padding: 72px 0 100px;

  @media screen and  (max-width: 479px) {
    display: block;
    flex-direction: column;
    padding: 60px 0;
  }

    @media screen and (min-width: 768px) {
    display: block;
    flex-direction: column;
    padding: 0;
    margin-top: 60px;
  }

.button {
@include centered
}
}

.button__telegram {
  margin-left: 10px;
}

.form-sign {
  display: flex;
  flex-direction: column;
  
  @media screen and  (max-width: 479px) {
    display: block;
  }

.form-sign__label {  
  @include standart-text ($color-text,$font-size,700);
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: left;

  @media screen and  (max-width: 479px) {
    text-align: center;
  }

    @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.form-sign__input {
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: #2f303a;
  padding: 15px 16px;
  height: 50px;
  width: 358px;
  margin-top: 20px;
  margin-right: 12px;

  @media screen and  (max-width: 479px) {
    // width: 450px;
    width: 100%;
    margin: 20px auto;
  }

    @media screen and (min-width: 768px) {
    min-width: 450px;
    margin: 20px auto;
  }
}
}