.clients {
  padding-top: 94px;

    @media screen and (max-width:479px) {
    padding-top: 60px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 60px;
    }
}

.firms {
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;

    @media screen and  (max-width: 479px) {
    display: block;
    padding-top: 30px;
    padding-bottom: 60px;  
    flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
      // display: inline-block;
      display: flex;
      padding-top: 30px;
      padding-bottom: 60px;
      flex-wrap: wrap;

      margin: -15px;
    }

.firms__item {
  margin-left: 30px;

    @media screen and  (max-width: 479px) {
      margin: 0;
      display: inline-block;
      flex-direction: column;
      width: calc((100% - 2 * 15px) / 2);

      &:nth-child(n+3) {
        margin-top: 30px;
      } 

      &:nth-child(2n+1) {
        margin-right: 30px;
      }

      &:nth-child(2n) {
      margin-left: -5px;
      }   
    }

// &:first-child {
//   margin-left: 0px;
// }

@media screen and (min-width: 768px) {
    //  margin: 0;
      display: inline-block;
      flex-direction: column;
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
            // width: calc((100% - 3 * 21px) / 3);

//       &:nth-child(n+4) {
//         margin-top: 30px;
//       } 

//       & {
//         margin-right: 30px;
//       }

//       &:nth-child(3n) {
//         margin-right: 0;
//       }

//       &:nth-child(3n+1) {
//       margin-left: -5px;
//       }   
// }
}

.firms__icon {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and  (max-width: 479px) {        
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      display: flex; 
      align-items: center;
      justify-content: center;
      width: 100%;
    }

&:focus,
&:hover {
  fill: $color-link;
  border: 1px solid $color-link;
}
}
}
}