@mixin standart-text ($text, $font-size, $font-weight) {
  color: $text;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight:$font-weight;
}

@mixin centered () {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container () {  
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}